{sub_dirs, [
    "rel"
]}.
{deps_dir, ["deps"]}.
{erl_opts, [debug_info,

    {i, "test"},

    {src_dirs, ["src"]}]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {cowboy,".*",{git, "https://github.com/ninenines/cowboy", {branch, "1.1.x"}}},
    {jiffy, ".*", {git, "https://github.com/davisp/jiffy", {branch, "master"}}}
]}.

{cover_enabled, true}.